<!DOCTYPE html>
<html>

<head>
  <title>Recipes Galore</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Recipes Galore</h1>
  <p>There Shall be a list!</p>
  <% recipes.forEach(function(recipe){ %>
    <p>
      <h1>
        <%= recipe.name %>
      </h1>
        <img src="<%= recipe.image %>" alt="">
      <h4>
        <%= recipe.description %>
      </h4>
      <ol>
          <% recipe.ingredients.forEach(function(ingredient){ %>
              <li><%= ingredient %></li>    
          <%  }) %>
      </ol>
      <ol>
          <% recipe.instructions.forEach(function(instruction){ %>
              <li><%= instruction %></li>    
          <%  }) %>
      </ol>
    </p>
    <%})%>
</body>

</html>