<!DOCTYPE html>
<html>

<head>
  <title>Recipes Galore - <%= recipe.name %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p>
      <h1>
        <%= recipe.name %>
      </h1>
        <img src="<%= recipe.image %>" alt="">
      <h4>
        <%= recipe.description %>
      </h4>
      <h4>Ingredients</h4>
      <ol>
          <% recipe.ingredients.forEach(function(ingredient){ %>
              <li><%= ingredient %></li>    
          <%  }) %>
      </ol>
      <h4>Instructions</h4>
      <ol>
          <% recipe.instructions.forEach(function(instruction){ %>
              <li><%= instruction %></li>    
          <%  }) %>
      </ol>
    </p>
    <a href="/recipes">Back</a>
</body>

</html>